.goal-list {
    list-style: none;
    margin: auto;
    padding: 0;
    width: 450px;
  }
  @media screen  and (max-width:1024px){
    .goal-list{
      width: 400px;
    }
    
  }
  @media screen  and (max-width:950px){
    .goal-list{
      width: 300px;
    }
    
  } @media screen  and (max-width:750px){
    .goal-list{
      width: 250px;
    }
    
  } @media screen  and (max-width:550px){
    .goal-list{
      width: 200px;
    }
    
  }
