.form {
  width: 30%;
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.input {
  font: inherit;
  border: none;
  background-color: rgb(221, 141, 141);
  transition: 0.5s ease-in-out 0s;
  font-size: 15px;
  color: white;
  font-family: sans-serif;
  width: 360px;
  height: 40px;
}
