.btn {
    width: 80px;
    height: 40px;
    border: 1px solid rgb(186, 73, 73);
    background-color: sandybrown;
    transition: 0.5s ease-in-out 0s;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    font-family: sans-serif;

}