.content {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 40%;
    border-bottom: 1px solid saddlebrown;
    margin-bottom: 50px;

}

@media screen and(max-width:1280px) {
    .content {
        width: 30%;
        margin: auto;
    }

}

@media screen and(max-width:1024px) {
    .content {
        width: 20%;
        margin: auto;
    }

}


.head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 400px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;

}

@media screen and (max-width:1280px) {
    .head {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }
}

@media screen and (max-width:1024px) {
    .head {
        gap: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width:950px) {
    .head {
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

}
.title {
    color: white;
    font-size: 22px;
    font-family: sans-serif;
}